.settings-button{
    
    color: black;
    font-size: 1.5vw; /* Adjust font-size */
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; /* Same font-family as title */
    font-weight: 500; /* Adjust font-weight */
    word-wrap: break-word;
    text-decoration: none;

}

.settings-button.active {
    font-weight: 700; /* Bold */
}