body, html {
  background-color: #daefdc;
  margin: 0; 
  padding: 0; 
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-message h2 {
  margin-top: 3%;
  font-weight: bold;
}

.back-to-recommendations {
  align-self: flex-start; /* Align button to the start (left) of flex container */
  margin-top: -4.5%;
  margin-left: 5%;
  margin-bottom: 4%; /* Add some space between the button and h2 */
}

.welcome-page {
  text-align: center;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  padding-top: 20px;
}

.back-to-recommendations {
  width: 10%;
  padding: 10px;
  border: 1px solid #52ab90; /* Add a border */
  border-radius: 20px;
  background-color:white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
  transition: background-color 0.3s;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.back-to-recommendations:hover {
  background-color: #52ab90;
  color: white;
}

.bookbot-description {
  font-size: 18px;
  padding-top: 10px;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}

.chat-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 35px;
}

.lottie-container {
  width: 35%;
  height: 40%;
  margin-left: 5%;
}

.prompt-response-container {
  width: 60%;
  margin-left: 5%;
  background-color: #daefdc;
  margin-right: 40px;
  border-radius: 10px;
  padding: 10px; /* Adjusted padding */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 -6px 8px rgba(0, 0, 0, 0.1); /* Two shadows: one for bottom and one for top */
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  overflow-y: auto; /* Enable vertical overflow scrolling */
  text-align: center;
}

.chatgpt-response {
  white-space: nowrap;
  animation: typewriter 3s steps(40) 1s forwards; /* Apply typewriter animation */
}

.input-form {
  display: flex;
  align-items: center;
}

.prompt-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.submit-button {
  padding: 10px 20px;
  margin-top: -1.5%;
  border: none;
  background-color: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #52ab90;
  color: white;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .chat-container {
    flex-direction: column;
    align-items: center;
  }

  .lottie-container,
  .prompt-response-container {
    width: 100%; /* Adjust width for smaller screens */
    margin-left: 0; /* Reset margin */
    margin-right: 0; /* Reset margin */
  }

  .lottie-container {
    margin-bottom: 20px; /* Add some space between lottie-container and prompt-response-container */
    width: 300px;
  }

  .back-to-recommendations {
    position: static; /* Reset position */
    margin-top: 20px; /* Add margin to create space */
  }
}
