.main {
  width: 100%;
  height: 100%;
}

.changepass-form-div {
  background-color: white;
  width: 30%;
  height: 35%;
  left: 50%;
  transform: translateX(-50%);
  top: 28%; /* Adjust the top value as needed */
  position: absolute;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); 
}

.change-pass-title {
  background-color: white;
  width: 73%;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  top: 10%; /* Adjust the top value as needed */
  position: absolute;
  color: black;
  font-size: 38px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

.change-pass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.change-pass-button {
  width: 25%;
  padding: 10px;
  border: 1px solid #488282; /* Add a border */
  border-radius: 5px;
  background-color: #488282;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.change-pass-button:hover {
  background-color: white;
  color: black;
}
