body, html {
  background-color: #daefdc;
  margin: 0; 
  padding: 0; 
}

.div {
  display: flex;
  flex-direction: column;
  padding: 45px 68px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
@media (max-width: 991px) {
  .div {
    padding: 0 20px;
  }
}
.div-2 {
  display: flex;
  margin-right: 18px;
  width: 100%;
  justify-content: space-between;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  gap: 20px;
  color: #000;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
  }
}

.title {
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .title {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.current-club-title {
  flex-grow: 1;
  flex-basis: auto;
  font-size: 45px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
@media (max-width: 991px) {
  .current-club-title {
    font-size: 40px;
  }
}
.your-clubs {
  align-self: start;
  flex-grow: 1;
  flex-basis: auto;
  font: 36px Inika, sans-serif;
}

@media (max-width: 991px) {
  .your-clubs {
    max-width: 100%;
  }
}
.comments-and-club-navigator {
  margin-top: 9px;
}
@media (max-width: 991px) {
  .comments-and-club-navigator {
    max-width: 100%;
  }
}

/* same section as comments-and-club-navigator */
.div-12 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-12 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 75%;
  margin: auto; /* Center the column horizontally */
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.posts-box {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-weight: 400;
  width: 100%;
  padding: 21px 9px 21px 18px;
}

@media (max-width: 991px) {
  .posts-box {
    max-width: 100%;
    margin-top: 25px;
  }
}

.post-and-reply-title {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .post-and-reply-title {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

/* similar to post and reply title */
.div-16 {
  align-self: start;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* comments */
.post-reply {
  color: #000;
  white-space: nowrap;
  font-size: 36px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
@media (max-width: 991px) {
  .post-reply {
    white-space: initial;
  }
}
.posted-by {
  color: #707070;
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.time {
  color: #707070;
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  align-self: flex-end; /* Align the time to the end of its container */
  margin-left: auto; /* Push the time to the right */
}
@media (max-width: 991px) {
  .time {
    margin-top: 40px;
  }
}
.post-toolbar {
  align-self: start;
  display: flex;
  margin-top: 11px;
  justify-content: space-between;
  gap: 8px;
  font-size: 36px;
  color: #707070;
  width: 1100px;
}

.post-toolbar-divider {
  color: #d9d9d9;
  font-family: Inika, sans-serif;
}

/* 💬 0 comments */
.replies-button {
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  margin-right: 79%;
}

.comment-separator {
  margin: 10px 0;
  border: 1px solid #ccc;
}

.comment-textbox {
  display: flex;
  margin-top: 35%;
  justify-content: space-between;
  gap: 3px;
  white-space: nowrap;
  position: "absolute";
  bottom: 0;
}
@media (max-width: 991px) {
  .comment-textbox {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
    white-space: initial;
  }
}
.reply-textbox {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  gap: 3px;
  white-space: nowrap;
  position: "absolute";
  bottom: 0;
}
@media (max-width: 991px) {
  .reply-textbox {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
    white-space: initial;
  }
}

.type-comment {
  border-radius: 50px;
  border: 1px solid #d0d4d9;
  background-color: #fff;
  align-self: start;
  flex-grow: 1;
  width: 1200px !important;
  height: 50px;
  justify-content: center;
  align-items: start;
  color: #707070;
  padding: 16px 60px 16px 16px;
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
@media (max-width: 991px) {
  .type-comment {
    white-space: initial;
    max-width: 100%;
    padding-right: 20px;
  }
}
.post-button {
  border-radius: 50px;
  background-color: white;
  justify-content: center;
  border: 1px solid #52ab90;
  color: black;
  padding: 15px;
  height: 20px;
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 991px) {
  .post-button {
    white-space: initial;
  }
}

.post-button:hover {
  background-color: #52ab90; /* Change to your desired hover background color */
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.browse-clubs-link {
  width: 12%;
  padding: 10px;
  border: 1px solid #52ab90; /* Add a border */
  border-radius: 20px;
  background-color:white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
  transition: background-color 0.3s;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  position: absolute;
  left: 40px;
  top: 150px;
  word-wrap: break-word;
  text-decoration: none;
}



.browse-clubs-link:hover {
  background-color: #52ab90;
  color: white;
}
