/* recommendationPagesstyle.css */

.books {
  display: flex;
  gap: 40px;
}

.Recommendation {
  display: inline-block;
  margin-top: 60px;
  position: relative;
}

.recommendations-container {
  width: 100%; 
  position: absolute;
  background: white;
  margin: 0 auto; 
  margin-top: 40px; 
}
.user-rec-title {
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
}

.rec-description {
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px; 
  justify-content: center;
  align-items: center;
}

.rec-text{
  margin-bottom: 45px;
}

.rectangle-rec {
  width: 380px;
  height: 550px;
  margin-left: 55px;
  position: relative;
  background: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 -6px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 20px;
  border-radius: 15px;
  justify-content: center;
}

.ask-bookbot {
  color: black;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
  padding: 20px; 
  border-radius: 60px; 
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  border: 1px solid black; 
  transition: background-color 0.3s; 
}

.ask-bookbot:hover {
  background-color: #9b8bb5; 
}

.book-image {
  width: 176px;
  height: 282px;
  margin-top: 25%;
  margin-left: 27%;
  position: absolute;
}

.book-title {
  width: 307px;
  left: 10%;
  top: 75%;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: 'Inika';
  font-weight: 700;
  word-wrap: break-word;
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.author {
  width: 307px;
  left: 10%;
  top: 90%;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Inika';
  word-wrap: break-word;
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
}