/* recommendationPagesstyle.css */

.books {
  display: flex;
  gap: 450px;
}

.Recommendation {
  display: inline-block;
  margin-top: 60px;
  position: relative;
}

.recommendations-container {
  width: 100%; /* You may want to adjust this */
  position: absolute;
  background: white;
  margin: 0 auto; /* Center horizontally */
  margin-top: 50px; /* Add margin-top for spacing */
}
.user-rec-title {
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  font-weight: 700;

  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
}

.rectangle-rec {
  width: 380px;
  height: 550px;
  margin-left: 20px;
  position: absolute;
  background: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 -6px 8px rgba(0, 0, 0, 0.1); 
  margin-top: 10px;
  border-radius: 15px;
  justify-content: center;
}

.ask-bookbot {
  right: 0;
  top: 800px;
  position: absolute;
  color: black;
  font-size: 32px;
  font-family: 'Inika';
  font-weight: 400;
  word-wrap: break-word;
  background-color: #CEA0AA;
  text-decoration: none;
  padding: 25px; /* Adjust padding as needed */
  border-radius: 60px; /* Adjust border-radius for rounded corners */
}

.book-image {
  width: 176px;
  height: 282px;
  margin-top: 25%;
  margin-left: 27%;
  position: absolute;
}

.book-title {
  width: 307px;
  left: 10%;
  top: 75%;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: 'Inika';
  font-weight: 700;
  word-wrap: break-word;
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.author {
  left: 150px;
  top: 550px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-family: 'Inika';
  font-weight: 400;
  word-wrap: break-word;
}
