body, html {
  background-color: #daefdc;
  margin: 0; 
  padding: 0; 
}

.books {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 30px;
  justify-content: center; /* Center items horizontally */
  margin-top: -3%;
}

.Recommendation {
  display: inline-block;
  margin-top: 60px;
  position: relative;
  
}

.recommendations-container {
  width: 100%;
  position: absolute;
  padding-bottom: 5%;
  margin: 0 auto;
  background-color: #daefdc;
}

.user-rec-title {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 50px;
}

.rec-description {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px;
}

.rec-text {
  margin-bottom: 45px;
  margin-left: 5%;
  margin-right: 5%;
}

.rectangle-rec {
  width: 240px;
  height: 400px;
  margin-left: auto; /* Adjust margin to auto */
  margin-right: auto; /* Adjust margin to auto */
  position: relative;
  background: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 -6px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 15px;
}

.ask-bookbot {
  color: black;
  background-color: white;
  font-size: 20px;
  word-wrap: break-word;
  text-decoration: none;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 60px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transition: background-color 0.3s;
}

.ask-bookbot:hover {
  background-color: #52ab90;
  color: white;
}

.book-image {
  width: 170px;
  height: 262px;
  margin-top: 13%;
  margin-left: 14%;
  position: absolute;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 2);
}

.book-title {
  width: 100%;
  margin-top: 130%;
  position: absolute;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 20px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  word-wrap: break-word;
}

.author {
  width: 100%;
  margin-top: 155%;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  word-wrap: break-word;
}

/* Media queries for smaller screens */
@media screen and (max-width: 1024px) {
  .Recommendation {
    flex: 0 0 calc(50% - 40px); /* Show 2 items per row */
  }
}

/* Media queries for even smaller screens */
@media screen and (max-width: 768px) {
  .Recommendation {
    flex: 0 0 calc(50% - 40px); /* Show 2 items per row */
  }
}
