/* Settings.css */

.MacbookPro14Settings {
    width: 1512px;
    height: 982px;
    position: relative;
    background: white;
  }
  
  .ViewAccount {
    left: 1306px;
    top: 52px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Recommendations {
    left: 1058px;
    top: 53px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Community {
    left: 853px;
    top: 51px;
    position: absolute;
    color: black;
    font-size: 22px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Plotponder {
    left: 68px;
    top: 37px;
    position: absolute;
    color: black;
    font-size: 48px;
    font-family: Inika;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .Settings {
    left: 68px;
    top: 230px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .ChangeEmail {
    width: 267px;
    height: 28px;
    left: 68px;
    top: 277px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .ChangePassword {
    width: 406px;
    height: 28px;
    left: 652px;
    top: 285px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .Rectangle60,
  .Rectangle61,
  .Rectangle62,
  .Rectangle63,
  .Rectangle78,
  .Rectangle79 {
    width: 292px;
    height: 106px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
  }
  
  .OldEMail {
    width: 183px;
    height: 21px;
    left: 68px;
    top: 369px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .NewEMail {
    width: 236px;
    height: 34px;
    left: 72px;
    top: 614px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .OldPassword {
    width: 311px;
    height: 32px;
    left: 649px;
    top: 373px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .NewPassword {
    width: 268px;
    height: 41px;
    left: 643px;
    top: 609px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .Update {
    width: 294px;
    height: 58px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .SignOut {
    width: 226px;
    height: 32px;
    left: 1175px;
    top: 459px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .DeleteAccount {
    width: 273px;
    height: 61px;
    left: 1155px;
    top: 691px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: Inika;
    font-weight: 400;
    word-wrap: break-word;
  }
  