.settings-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .settings-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
  
  .settings-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .settings-sections {
    display: flex; /* Arrange sections side-by-side */
  }
  
  .change-email-container,
  .change-password-container {
    flex: 1; /* Make sections take up equal space */
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px; /* Add margin between sections (adjust as needed) */
  }
  
  .change-password-container:last-child { /* Remove margin for last section */
    margin-right: 0;
  }
  
  .change-email-container h2,
  .change-password-container h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  
  .email-input,
  .password-input {
    margin-bottom: 10px;
  }
  
  .email-input label,
  .password-input label {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .email-input input,
  .password-input input {
    border: 1px solid lightgray;
    padding: 10px;
    width: 100%;
    font-size: 16px;
  }
  
  /* Update the styles for update, sign out, and delete account buttons */
  .update-button,
  .sign-out-button,
  .delete-account-button {
    background-color: transparent; /* Remove background color */
    border: 1px solid black; /* Black border */
    color: black; /* Black text color */
    font-size: 16px;
    padding: 10px 15px; /* Increased padding for larger buttons */
    cursor: pointer;
    border-radius: 5px; /* Optional rounded corners */
    margin-right: 20px; /* Margin between buttons (adjust as needed) */
    display: inline-block; /* Enable text content to affect width */
  }
  
  .actions button:last-child { /* Remove margin for last button */
    margin-right: 0;
  }

  