.MacbookPro14CreateAnAccount {
    width: 1512px;
    height: 982px;
  }
  
  .Rectangle77 {
    width: 1395px;
    height: 550px;
    left: 76px;
    top: 195px;
    position: absolute;
    background: #CEA0AA;
    border-radius: 30px;
  }
  
  .Frame1 {
    width: 100px;
    height: 100px;
    left: 233px;
    top: 178px;
    position: absolute;
  }
  
  .SignUp {
    width: 212px;
    height: 85px;
    left: 662px;
    top: 125px;
    position: absolute;
    color: black;
    font-size: 48px;
    font-family: 'Inika';
    font-weight: 400;
    word-wrap: break-word;
  }
  
  form {
    position: absolute;
  }
  
  label {
    width: 517px;
    height: 76px;
    left: 187px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: 'Inika';
    font-weight: 400;
    word-wrap: break-word;
  }

  label[for="firstname"] {
    top: 255px;
  }

  label[for="lastname"] {
    top: 355px;
  }

  label[for="EmailAccount"] {
    top: 455px;
  }

  label[for="passwordsignup"] {
    top: 555px;
  }


  label[for="signupasauthor"] {
    left: 650px;
    top: 637px;
    font-size: 24px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 517px;
    height: 76px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: 'Inika';
    font-weight: 400;
    word-wrap: break-word;
    left: 450px;
  }
  
  input[type="checkbox"] {
    width: 25px;
    height: 25px;
    left: 600px;
    top: 635px;
    position: absolute;
    background: #CEA0AA;
  }
  
  button {
    width: 517px;
    height: 76px;
    position: absolute;
    color: black;
    font-size: 36px;
    font-family: 'Inika';
    font-weight: 400;
    word-wrap: break-word;
    left: 950px;
    top: 800px;
    cursor: pointer;
  }

  .authorSignUpMessage {
    margin-top: 615px;
    margin-left: 300px;

  }
  