.MacbookPro14SignIn {
  width: 1512px;
  height: 900px;

}

.Rectangle76 {
  width: 1395px;
  height: 550px;
  left: 76px;
  top: 195px;
  position: absolute;
  background: #CEA0AA;
  border-radius: 30px;
}

.Frame2 {
  width: 100px;
  height: 100px;
  left: 233px;
  top: 178px;
  position: absolute;
}

.SignIn {
  width: 212px;
  height: 85px;
  left: 662px;
  top: 125px;
  position: absolute;
  color: black;
  font-size: 48px;
  font-family: 'Inika';
  font-weight: 400;
  word-wrap: break-word;
}

form {
  position: absolute;
}

label, input, button {
  width: 517px;
  height: 76px;
  position: absolute;
  color: black;
  font-size: 36px;
  font-family: 'Inika';
  font-weight: 400;
  word-wrap: break-word;
}

input[type="text"],
input[type="password"] {
  width: 517px;
  height: 76px;
  position: absolute;
  color: black;
  font-size: 36px;
  font-family: 'Inika';
  font-weight: 400;
  word-wrap: break-word;
  left: 450px;
}

label[for="Email"] {
  left: 187px;
  top: 300px;
}

input[type="text"][id="email"] {
  left: 475px;
  top: 275px;
}

label[for="password"] {
  left: 187px;
  top: 400px;
}

input[type="password"][id="password"] {
  left: 475px;
  top: 375px;
}

label[for="optional"] {
  left: 187px;
  top: 420px;
}

button[for="signin"] {
  left: 475px;
  top: 600px;
  cursor: pointer;
}

button {
  left: 450px;
  top: 600px;
}

/* checkbox styles */
.checkbox2 {
  position: absolute;
  width: 25px; /* Adjust the width as needed */
  height: 25px;
  left: 470px !important;
  top: 220px !important; /* Adjust the top position as needed */
  z-index: 1;
}

label[for="signInAsAuthorCheckbox"] {
  position: absolute;
  left: 510px;
  top: 220px; /* Adjust the top position as needed */
  font-size: 24px; /* Adjust the font size as needed */
  z-index: 2;
}

label[for="authorpassword"] {
  position: absolute;
  left: 187px;
  top: 495px; /* Adjust the top position as needed */
  z-index: 3;
}

input[type="password"][id="authorpassword"] {
  position: absolute;
  left: 475px;
  top: 475px; /* Adjust the top position as needed */
}
