body, html {
  background-color: #daefdc;
  margin: 0; 
  padding: 0; 
}

.main {
  width: 100%;
  height: 100%;
}

/* bootstrap classes */

.card-title {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 38px;
  font-weight: 400;
  margin-bottom: -40%;
  text-align: center;
  
}

.btn {
  padding: 10px;
  border: 1px solid #488282; /* Add a border */
  border-radius: 5px;
  background-color: #488282;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.btn:hover {
  background-color: white;
  color: black;
}

/* input divs */
.mb-3 {
  width: 100%;
  padding: 10px;
  margin-bottom: -17%;
  margin-top: 15%;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;

}

.mt-3 {
  margin-top: 15%;
}

/* bootstrap classes */

.signup-form-div {
  background-color: white;
  width: 30%;
  height: 59%;
  left: 50%;
  transform: translateX(-50%);
  top: 25%; /* Adjust the top value as needed */
  position: absolute;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); 
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
}


