/* useraccount.css */
.ViewAccount,
.Recommendations,
.Community,
.Plotponder,
.HiUsername,
.YourRatings,
.AddBook,
.YourCommunities,
.Romance,
.Comedy,
.Fantasy {
  position: absolute;
  font-family: 'Inika';
}

.ViewAccount {
  left: 1306px;
  top: 52px;
  color: #420F1A;
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
}

.Recommendations {
  left: 1058px;
  top: 53px;
  color: black;
  font-size: 22px;
  font-weight: 400;
  word-wrap: break-word;
}

.Community {
  left: 853px;
  top: 51px;
  color: black;
  font-size: 22px;
  font-weight: 400;
  word-wrap: break-word;
}

.HiUsername {
  left: 584px;
  top: 212px;
  position: absolute;
  color: black;
  font-size: 36px;
  font-family: "Inika";
  font-weight: 700;
  word-wrap: break-word;
}

.YourRatings {
  left: 449px;
  top: 303px;
  color: black;
  position: absolute;
  font-size: 36px;
  font-weight: 400;
  font-family: "Inika";
  word-wrap: break-word;
}

.image1,
.image2,
.image3,
.image4 {
  position: absolute;
  width: 176px;
  height: 282px;
  top: 395px;
}

.image1 {
  left: 80px;

}

.image2 {
  left: 313px;

}

.image3 {
  left: 546px;

}

.image4 {
  left: 779px;
  
}

.Rectangle50,
.Rectangle47,
.Rectangle48,
.Rectangle49 {
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Rectangle50 {
  width: 258px;
  height: 62px;
  left: 425px;
  top: 757px;
  background: white;
  border: 1px black solid;
}

.AddBook-button {
  color: black; /* Set the text color explicitly */
  font-size: 24px;
  font-weight: 400;
  font-family: "Inika";
  position: absolute;
  word-wrap: break-word;
  text-decoration: none;
  z-index: 1; /* Ensure text is on top of the background */
  display: inline-block; /* Ensures that the border wraps around the text */

  border: 1px solid black; 
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 185px !important;
}


.YourCommunities {
  left: 1090px;
  top: 303px;
  color: black;
  font-size: 36px;
  font-weight: 400;
  word-wrap: break-word;
}

/* left: 1021, top: 383, position: 'absolute', opacity: 0.50,boxShadow: '0px 4px 4px rgba(0, 0, 0, 0.25)', borderRadius: 70}} /> */
.Community1 {
  left: 1020px !important;
  top: 385px !important;
  position: absolute;
  color: black;
  font-family: "Inika";
  font-size: 36px;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;

  background-color: #E9C2C5;
  text-decoration: none;
  padding: 25px; /* Adjust padding as needed */
  border-radius: 60px; /* Adjust border-radius for rounded corners */
  width: 400px;
  height: 55px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.Community2 {
  left: 1020px !important;
  top: 526px !important;
  position: absolute;
  font-family: "Inika";
  color: black;
  font-size: 36px;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;
  
  background-color: #B8D8E3;
  text-decoration: none;
  padding: 25px; /* Adjust padding as needed */
  border-radius: 60px; /* Adjust border-radius for rounded corners */
  width: 400px;
  height: 55px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Community3 {
  left: 1020px !important;
  top: 665px !important;
  color: black;
  position: absolute;
  font-family: "Inika";
  font-size: 36px;
  font-weight: 400;
  word-wrap: break-word;
  text-decoration: none;

  background-color: #949BD8;
  text-decoration: none;
  padding: 25px; /* Adjust padding as needed */
  border-radius: 60px; /* Adjust border-radius for rounded corners */
  width: 400px;
  height: 55px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}  