/* useraccount.css */
.Recommendations,
.Community,
.Settings,
.Plotponder,
.HiUsername,
.YourRatings,
.AddBook {
  position: absolute;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.MacbookPro14UserAccount {
  width: 100%;
  height: 982px;
  position: relative;
  justify-content: center;
}

.Settings {
  left: 1306px;
  top: 52px;
  color: #420f1a;
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
}

.HiUsername {
  left: 45%;
  top: 50px;
  position: relative;
  color: black;
  font-size: 36px;
  font-family: Centure Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.account-description {
  position: relative;
  margin-top: 80px;
  font-size: 20px;
  margin-left: 10px;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  justify-content: center;
  text-align: center;
}

.YourRatings {
  left: 40%;
  top: 355px;
  color: black;
  position: absolute;
  font-size: 36px;
  font-weight: 400;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  word-wrap: break-word;
}

.AddBook-button {
  color: black; /* Set the text color explicitly */
  font-size: 24px;
  font-weight: 400;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  margin-left: 42%;
  margin-top: 50px;
  word-wrap: break-word;
  text-decoration: none;
  z-index: 1; /* Ensure text is on top of the background */
  display: inline-block; /* Ensures that the border wraps around the text */
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 185px !important;
  border-radius: 50px;
  transition: background-color 0.3s; /* Add transition effect for smooth hover */
}

.AddBook-button:hover {
  background-color: #9b8bb5; /* Set the background color on hover */
}

.LogOut {
  position: absolute;
  bottom: 20px;
  right: 10px;
  color: black;
  font-size: 24px;
  font-family: "Inika";
  text-decoration: none;
  background-color: #cea0aa;
  padding: 25px; /* Adjust padding as needed */
  border-radius: 60px; /* Adjust border-radius for rounded corners */
  width: 100px;
  height: 25px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.LogOut:hover {
  background-color: #fee1dd; /* Change color on hover */
  transition: background-color 0.3s ease;
}

/* new (not working yet)*/
/* Books container */
.books {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Add some space between books */
}

/* Media queries for smaller screens */
@media screen and (max-width: 1024px) {
  .books {
    flex: 0 0 calc(50% - 40px); /* Show 2 items per row */
  }
}

/* Media queries for even smaller screens */
@media screen and (max-width: 768px) {
  .books {
    flex: 0 0 calc(50% - 40px); /* Show 2 items per row */
  }
}
 