.main-div {
  background-color: #daefdc;
  height: 100vh; /* 80% of the viewport height */
  position: relative;
  width: 100%; /* 70% of the viewport width */
}

.title-wrapper {
  background-color: white;
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 3vw; /* 3% of the viewport width */
  font-weight: 500;
  left: 4.5vw; /* 4.5% of the viewport width */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2vh; /* 3.7% of the viewport height */
}

.header {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Distribute space evenly between items */
  align-items: center; /* Center vertically */
  background-color: white; /* Set background color */
  border-bottom: 1px solid #000000; /* Set border at the bottom */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow to the border */
  padding: 4vh; /* Adjust padding as needed */
  height: 1%;
}

.welcome-wrapper {
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.5vw; /* 4% of the viewport width */
  font-weight: 400;
  font-style: italic; /* Make it italic */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16vh; /* 16% of the viewport height */
}

.lottie-animation {
  position: absolute;
  top: 23%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translateX(-50%); /* Center horizontally */
}

.signup-button {
  background-color: white;
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5vw; /* 4% of the viewport width */
  border-radius: 6.8vw; /* 6.8% of the viewport width */
  border: none;
  height: 8.8vh; /* 8.8% of the viewport height */
  left: 55%; /* 53% of the viewport width */
  position: absolute;
  top: 70vh; /* 70% of the viewport height */
  width: 20vw; /* 29% of the viewport width */
}

.signin-button {
  background-color: white;
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.5vw; /* 4% of the viewport width */
  border-radius: 6.8vw; /* 6.8% of the viewport width */
  border: none;
  height: 8.8vh; /* 8.8% of the viewport height */
  left: 25%; /* 21.4% of the viewport width */
  position: absolute;
  top: 70vh; /* 70% of the viewport height */
  width: 20vw; /* 24.4% of the viewport width */
}

.signup-button:hover,
.signin-button:hover {
  background-color: #52ab90; /* Change to your desired hover background color */
  color: white; /* Change to your desired hover font color */
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

/* Media queries for adjusting font size */

@media screen and (max-width: 768px) {
  .signup-button,
  .signin-button,
  .title-wrapper {
    font-size: 3vw;
  }

  .welcome-wrapper {
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .signup-button,
  .signin-button,
  .welcome-wrapper {
    font-size: 4vw;
  }

  .title-wrapper {
    font-size: 5vw !important;
  }
}
